.heap-grid {
    display: grid;
    gap: 2px;
    /* Spacing between cells */
    flex: 4 1;
    overflow-y: auto;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    max-height: 85vh;
}

.cell {
    width: 100%;
    padding-bottom: 100%;
    /* This will keep the cell square-shaped */
    position: relative;
    border: 1px solid #e0e0e0;
    /* Light grey border */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cell.highlighted {
    animation: enhancedFlicker 1.5s infinite;
}

@keyframes enhancedFlicker {
    0% {
        opacity: 1;
        transform: scale(1);
        background-color: #228B22;
    }

    50% {
        opacity: 0.7;
        transform: scale(1.05);
        background-color: #FFD700;
    }

    /* Gold color for a noticeable flicker */
    100% {
        opacity: 1;
        transform: scale(1);
        background-color: #228B22;
    }
}

.cell[data-address]:before {
    content: attr(data-address);
    font-size: 0.5rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell.flashing {
    animation: flashAnimation 0.5s ease-in-out infinite;
}

.cell.flickering {
    animation: flickerAnimation 0.5s linear infinite;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    25% { opacity: 0.75; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
}
